<div id="fullCalendar"></div>

<script>
	$(function(){
    // Default options for fullCalendar goes here
    default_options = {
      lang: 'es',
      header: {
        left: 'title',
        center: '',
        right: 'prev,today,next month,basicWeek,basicDay'
      },
      eventRender: function( event, element, view ){
        element.qtip({
          content: event.tooltip,
          style: {
            classes: 'qtip-shadow'
          }
        });
      },
      events: <%= events.to_json.html_safe %>
    };

    $('div#fullCalendar').fullCalendar($.extend(default_options, <%=options%>));
  });
</script>
